.footer{
    position: fixed;
    bottom:0;
    justify-content: space-between;
    height:70px;
    width:100%;
    background-color:rgb(37, 37, 37); 
    padding:20px;
    display:flex;
}
.footer_left{
    color: white;
    flex:0.2;
    display: flex;
    align-items:center;
    width: 500px;
    margin-left:55px;
}
.footer_center{
    flex:0.6;
    padding: 0 100px;
    color: white;
    display:flex;
    align-items:center;
    justify-content:space-between;
    max-width: 500px;
}

.footer_albumLogo{
    height: 50px;
    margin-right:20px;
    width:50px;
    object-fit:contain;
}

.footer_right{
    flex:0.2;
    color: white;
    display:flex;
    align-items:center;
    justify-content:space-between;
    max-width: 300px;
}

.footer_songInfo > h5{
    font-size: 18px;
    margin-top: 2px;
    margin-bottom:1px;
}

.footer_right * .MuiSlider-root {
    color: white;
}

.footer_green:hover,
.footer_icon:hover{
    transition: transform 0.2s ease-in-out;
    transform: scale(1.2) !important;
}



